.sales-navigation {
  width: 100%;
  margin-top: 25px;
  background-color: var(--white);
}

.sales-navigation__tabs {
  display: flex;
  justify-content: space-between;

  align-items: center;
  border-radius: 8px;
  padding: 0.8rem;
  border: 1px solid var(--pri-200);
}

.sales-navigation__tab {
  transition: all 0.2s ease;
  font-weight: 500;
}

.sales-navigation__tab--active {
  background-color: var(--sec-600);
  color: var(--white);
  border-color: var(--sec-600);
}

.sales-navigation__tab svg {
  flex-shrink: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .sales-navigation__tabs {
    flex-direction: column;
    width: 100%;
  }

  .sales-navigation__tab {
    width: 100%;
    justify-content: flex-start;
  }
}
