.adv-bar-chart {
  width: 100%;
  position: relative;
}
.adv-bar-chart .recharts-tooltip-wrapper {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--pri-100);
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}
