.pricing-card {
  position: relative;
  background: var(--white);
  border-radius: 8px;
  padding: 1.5rem 3rem;
  text-align: center;
  border: 1px solid var(--pri-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
  min-height: 580px;
}

.pricing-card--highlight {
  border: 0.5px solid var(--acc-500);
}

.pricing-card__button {
  margin-top: auto;
}

.custom-button--pricingcard {
  min-height: 30px !important;
  height: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: var(--font-13) !important;
  width: 100% !important;
}

.pricing-card__badge {
  position: absolute;
  top: -16px;
  left: -16px;
  background: var(--var-300);
  color: var(--black);
  font-weight: bold;
  padding: 8px 22px 8px 18px;
  border-radius: 0 0 18px 0;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  letter-spacing: 0.5px;
  transform: none;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 18px;
}

.pricing-card__price {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--acc-500);
  margin: 1.2rem 0 1.2rem 0;
  line-height: 1.1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

.pricing-card__price-comment {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--pri-400);
  margin-left: 0.2rem;
}

@media (min-width: 768px) {
  .pricing-card {
    width: 100%;
    max-width: 340px;
    min-height: 580px;
    box-sizing: border-box;
    padding: 2rem 3rem;
  }
}

@media (max-width: 479px) {
  .pricing-card {
    padding: 1.5rem 3rem;
    margin: 0;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
}

@media (min-width: 1025px) {
  .pricing-card {
    max-width: 360px;
    padding: 2rem 4rem;
    min-height: 580px;
  }
}
