.summary-cards-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .summary-cards-row {
    gap: 16px;
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .summary-cards-row {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }
}
